 {# templates/navbar.html.twig #}

<nav class="nav justify-content-center">
  <a class="nav-link active" href="{{path('index')}}">Accueil</a>
  <a class="nav-link" href="{{path('article_index')}}">Tous les articles</a>
  <a class="nav-link" href="{{path('article_create')}}">Créer un article</a>
</nav>
