{% extends 'base.html.twig' %}

{% block title %}New SportArticle{% endblock %}

{% block body %}
    <h1>Create new SportArticle</h1>

    {{ include('sport_article/_form.html.twig') }}

    <a href="{{ path('sport_article_index') }}">back to list</a>
{% endblock %}
